In [23]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import tree
import matplotlib.pyplot as plt

df= pd.read_csv('music.csv')

In [16]:
df
#df.head()

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [7]:
df.shape

(18, 3)

In [12]:
df.tail()

    age  gender      genre
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

# Data Preparation/Cleaning

In [13]:
X = df.drop(columns=["genre"])

In [14]:
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [17]:
y = df["genre"]
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

# Splitting Dataset

In [46]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [20]:
[X_train.shape, X_test.shape, y_train.shape, y_test.shape]

[(14, 2), (4, 2), (14,), (4,)]

# Defining and Trining Model

In [64]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
prediction1= model.predict([[21, 1],[21, 0]])
prediction1= model.predict(X_test)
score= accuracy_score(y_test, prediction1)
score

0.75

In [66]:
import joblib
joblib.dump(model, "music-recomender.joblib")

['music-recomender.joblib']

In [65]:
model = joblib.load("music-recomender.joblib")
prediction1= model.predict([[21, 1]])
prediction1

array(['HipHop'], dtype=object)

In [69]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
tree.export_graphviz(model, out_file="music-recommender.dot", 
                     feature_names=["age", "names"],
                     class_names = sorted(y.unique()),
                     label="all",
                     rounded= "True",
                     filled= "True")

# Saving the Model

In [34]:
#joblib.dump(model, "music_recommender.joblib")

# Visualizing Decision Tree